h1 {
    color: blue;
}
img:hover {
    background-color: goldenrod;
}
.Cat {
    background-color: lightgrey;
}
.Mice {
    background-color: lightgreen;
}
.Mouse {
    border-radius: 100%;
}
#heading {
    color: aquamarine;
}
#phara {
    color: blueviolet;
}
.class1 {
    color: azure;
}
.class2 {
    color: antiquewhite;
}